
body{
     background-color: hsl(217, 54%, 11%);
     padding-top: 10%;
}

.container{
    width: 400px;
    margin: 0 auto;   
    border: 1px solid black;
    text-align: center;
    background-color: hsl(216, 50%, 16%);
    border-radius: 5%;
}

.container article{
    
    margin: 1rem 0;
}

img{
    width: 223px;
    height: 240px;
    border-radius: 5%;
}

h1{
    padding-right: 48%;
    color: hsl(0, 0%, 100%);
}

p{
    color: hsl(215, 32%, 27%);
}