
body{
     background-color: hsl(217, 54%, 11%);
}

.container{
    width: 400px;
    margin: 0 auto;   
    border: 1px solid black;
    text-align: center;
}

.container article{
    margin: 1rem 0;
}

img{
    width: 123px;
    height: 123px;
}
